@import url(styles/header.css);
@import url(styles/cabecalho.css);
@import url(styles/metricas.css);
@import url(styles/vagas.css);
@import url(styles/depoimentos.css);

:root {
    --azul-escuro: #101828;
    --branco: #FFFFFF;
    --cinza: #667085;
    --cinza-escuro: #3A404E;
    --vermelho: #8E2424;
}

body {
    background: var(--branco);
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
}