.depoimentos {
    height: 500px;
    margin: 0 auto;
    padding-bottom: 96px;
    width: 1440px;
}

.depoimentos__container {
    align-items: center;
    background: rgba(196, 25, 25, 0.03);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    padding: 64px;
}

.depoimentos__titulo {
    color: var(--vermelho);
    font-weight: 600;
}

.depoimentos__texto {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.dev-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagem__dev {
    width: 56px;
    height: 56px;
    border-radius: 200px;
    text-align: center;
    margin-bottom: 16px;
}

.nome__dev {
    font-weight: 500;
    color: var(--azul-escuro);
    margin-bottom: 10px;
}

.cargo__dev {
    font-size: 14px;
    color: var(--cinza);
}