.vagas-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 96px 0;
}

.vagas-abertas {
    align-items: center;
    display: flex;
    background: rgba(142, 36, 36, 0.05);
    border-radius: 16px;
    color: var(--vermelho);
    font-size: 14px;
    font-weight: 500;
    height: 20px;
    justify-content: center;
    margin: 0 auto;
    padding: 4px 12px;
    width: 101px;
}

.vagas__titulo {
    color: var(--azul-escuro);
    font-size: 36px;
    font-weight: 600;
}

.vagas__texto {
    color: var(--cinza);
    font-size: 20px;
}

.vagas__imagem {
    margin: 64px 112px;
}

.titulo__vaga-area,
.titulo__vaga {
    font-weight: 500;
    color: var(--azul-escuro);
}

.titulo__vaga-area {
    font-size: 20px;
    text-align: start;
    margin: 64px auto 32px;
    display: flex;
    width: 43%;
}

.vaga {
    border: 1px solid #EAECF0;
    border-radius: 16px;
    padding: 24px 24px 28px 24px;
    gap: 24px;
    margin: 0 auto;
    width: 768px;
}

.titulo__vaga {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
}

.informacoes {
    display: flex;
    gap: 24px;
    color: var(--cinza);
    margin-top: 32px;
}